/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%; /* Ensure header is full width */
}

header .container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}
header nav ul li {
    display: inline;
    margin-right: 25px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    color: white; /* Add white color to the box icons */
}
header nav ul li a:hover
{
    text-decoration: underline;
}

/* Main Styles */
main {
    padding: 20px;
}

.featured-products {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    
    width: 20%;
    transition: transform 0.3s ease; /* Smooth transition for the pop-up effect */
}

.product:hover {
    transform: scale(1.05); /* Scale up the product box on hover */
}

.product img {
    max-width: 75%;
    height: auto;
}

.product button{
    background-color: rgb(146, 202, 255);
    border: none; /* Remove border from rating buttons */
    color: rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px ;
    padding: 5px;
    cursor: pointer; /* Add cursor pointer for Add to Cart button */
}

.product button :hover{
    cursor: pointer;
    background-color: rgb(54, 101, 255);
}

/* Rating Styles */
.rate button {
    color: white; /* Set star color to white */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header {
    position: sticky;
    left: 0;
    right: 0; /* Lock the header */
    top: 0; /* Position it at the top */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: rgb(39, 37, 37);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it stays above other content */
}
.search-container {
    display: flex;
    align-items: center;
    width: 550px;
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 5px;
}
.search-container input {
    border: none;
    background: transparent;
    padding: 5px;
    outline: none;
}
.search-container button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 300px;
}
